.middle-section {
    position: relative;
    z-index: 101;
    background-color: $clr7;
    height: 684px;
    overflow: hidden;

    &-main {
        position: relative;
        margin: 140px 0;
        height: 404px;

        & .text {
            position: relative;
            padding-top: 58px;
            height: 202px;
            color: $clr3;
            font-family: Livvic-bold;
            font-size: 3rem;
            width: 445px;
            line-height: 48px;

            & .top-line {
                position: absolute;
                top: 0;
                width: 50px;
                border: 2px solid $clr2;
            }
        }

        & .info {
            position: absolute;
            right: 0;
            top: 70px;
            margin: 0;
            padding: 0;
            width: 540px;
            list-style: none;

            & li {
                position: relative;

                & img {
                    position: absolute;
                    left: -80px;
                }

                & div {
                    margin-bottom: 16px;
                    font-family: Livvic-bold;
                    color: $clr2;
                }

                & p {
                    margin: 0 0 32px 0;
                    font-size: 0.938rem;
                    color: $clr3;
                }
            }

        }



    }

    & .middle-img {
        position: absolute;
        right: -100px;
        bottom: 0;
    }
}