.upper {
    position: relative;
    z-index: 100;
    background-color: $clr1;
    min-height: 700px;

    &-main {
        margin-top: 129px;
        display: flex;
        height: max-content;
        justify-content: space-between;

        * {
            color: $clr3;
        }

        & .big {
            font-family: Livvic;
            font-weight: bold;
            line-height: 100px;
            font-size: 100px;
            max-width: 560px;

            & span {
                color: $clr2;
            }
        }

        & .text {
            font-family: Livvic;
            position: relative;
            max-width: 386px;
            font-weight: 600;
            line-height: 28px;
            display: flex;
            align-items: flex-end;
            padding-bottom: 10px;

            .line {
                top: 0;
                position: absolute;
                width: 50px;
                border: 2px solid $clr4;
            }
        }



    }

    & .middle-img {
        position: absolute;
        left: -270px;
        top: 250px;
        height: 200px;
    }

    & .buttom-img {
        position: absolute;
        right: 165px;
        top: 600px;
    }
}